<launch>
  <!-- aruco tags -->
    <node name="aruco_tags" pkg="aruco_ros" type="marker_publisher"
          required="true" args="realsense" output="log">
      <param name="camera_frame" value="_rgb_optical_frame"/>
      <param name="camera" value="/rgb"/>
      <param name="image" value="image_raw"/>
    </node>
</launch>
