<launch>
  <!-- aruco tags -->
    <node name="aruco_tags_kinect" pkg="aruco_ros" type="marker_publisher"
          required="true" args="kinect1" output="screen"> 
          <!-- realsense or kinect1 -->
      <param name="camera_frame" value="_rgb_optical_frame"/>
      <param name="camera" value="/rgb"/>
      <param name="image" value="image_color"/>
    </node>
</launch>
